div.container {
  margin-top: 70px;
  margin-bottom: 30px
}
.portfolio-item{
  margin-bottom: 30px;
}
.img-fluid{

    display: block;
    margin-left: auto;
    margin-right: auto;

}

.list-group{
  display: block;
  width: 1140px;
}

div.row {
  padding-left: 15px;
  padding-right: 15px;
}
