

  <div class="container">

    <!-- Jumbotron Header -->
    <!-- <header class="jumbotron my-4">
        <h1 class="display-3">Home</h1>
        <p class="lead">Home</p>
        <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
    </header> -->

    <img src=..\..\assets\drugs6.jpg width=1110 height=300 >


      <h1> Inserisci la patologia </h1>

      <p class="lead"> Avrai in risposta una descrizione dettagliata della patologia e la lista dei farmaci adatti a curarla!
      </p>

      <form class="form-inline" #symptomform="ngForm" (ngSubmit)="onSubmit()">
            <input class="form-control" type="text" placeholder="Patologia..."  [(ngModel)]="this.patologia" [ngModelOptions]="{standalone: true}">
            <button type="submit" class="btn btn-primary "> Vai </button>
      </form>


      <div *ngIf="details">

        <div class="row">
          <h3 class="my-3">Descrizione </h3>
        </div>
        <div class="row">
              <p>{{this.descrizioneP}}</p>
        </div>


        <div class="row" >

          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-info">Medico:  {{this.medico}}</li>
            <li class="list-group-item">Struttura ospedaliera : {{this.struttura}}</li>
            <li class="list-group-item list-group-item-info"> Indirizzo: {{this.indS}}</li>
            <li class="list-group-item">Telefono del reparto: {{this.telS}}</li>

          </ul>

        </div>
        <div class="row">
          <h3 class="my-3"> Farmaci consigliati :</h3>
        </div>
        <div class="row" *ngIf="cards" >
          <div class="col-lg-4 portfolio-item" *ngFor="let drug of this.r2">
            <div class="card h-100">
              <a routerLink='/drug-details' (click)="setOnClickDrugId(drug.farmaco)">
                <img class="card-img-top" src="{{drug.img}}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a routerLink='/drug-details' (click)="setOnClickDrugId(drug.farmaco)"
                   >{{drug.farmaco}}</a>
                </h4>
                <p class="card-text">{{drug.descrizione}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>



</div>

